<div class="section m-t-150">
  <!-- <div class="profile-image"></div> -->
  <!-- <div class="top-greeting"> -->
    <!-- Hello! I'm Hungyi Lee -->
    <!-- <a href="javascript:playSound('myname');"> -->
      <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="18" fill="darkgray" class="icon" style="margin-top:-20px; margin-left: -5px"> -->
        <!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
        <!-- <path d="M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256zM176 168V344C176 352.7 180.7 360.7 188.3 364.9C195.8 369.2 205.1 369 212.5 364.5L356.5 276.5C363.6 272.1 368 264.4 368 256C368 247.6 363.6 239.9 356.5 235.5L212.5 147.5C205.1 142.1 195.8 142.8 188.3 147.1C180.7 151.3 176 159.3 176 168V168z"/></svg> -->
    <!-- </a> -->
    <!-- <#%= audio_tag "myname.mp3", id: "myname" %> -->
  <!-- </div> -->

  <div class="top-introduction">
    <!-- A <b>UX designer</b> with web developing background and passionate in understanding users and creating solutions. -->
    <!-- A <b>Product Designer</b> with web developing background in Seattle, WA.<br/> -->
    <!-- Say hello or get in touch for design work! -->
    Hungyi Lee is a Seattle-based user experience (UX) designer currently working at Samsung.
    <!-- <span class="talk-btn">
      <#%= mail_to "horngyi6527@gmail.com", body:"Hi Hungyi," do %>
        Let's talk.
      <%# end %>
    </span> -->
  </div>
  <!-- <div class="top-icons"> -->
    <%#= render 'home/social_media_icon' %>
  <!-- </div> -->
  <!-- <div class="arrow"> -->
    <!-- <a href="#projects-section"> -->
      <!-- <div> -->
        <!-- <span>View Projects</span><br/> -->
        <!-- <i class="down"></i> -->
      <!-- </div> -->
    <!-- </a> -->
  <!-- </div> -->
</div>
<div class="section projects" id="projects-section">
  <% @projects.each do |p|%>
    <div class="project">
      <div class="project-image">
        <img class="image" src="<%= p.coverimage%>">
      </div>
      <div class="project-description">
          <div class="project-title"><%= p.title %></div>
          <div class="project-category">
            <%= raw(p.projectdate) %>
          </div>
          <div class="brief-description">
            <%= p.role %>
          </div>
          <div class="project-link">
              <%= link_to project_path(p.title), class:"view-more-btn center" do %>Read Details<% end %>
          </div>
      </div>
    </div>
  <% end %>
</div>

<!-- <div class="section m-t-150 m-b-150 font-center" id="projects-section">
  <hr/>
  <div class="top-greeting m-b-50">Projects</div>
  <div class="w-900 center">
    <%# @projects.each do |p| %>
      <%#= link_to project_path(p.title) do %>
        <div class="w-300">
            <div class="box-image" style="background-image: url('<%#= p.coverimage %>')"></div>
            <p class="project-title-top"><%#= p.title %></p>
            <p class="project-cat-top"><%#= p.projectdate %></p>
        </div>
      <%# end %>
    <%# end %>
  </div>
  <br/><br/>
  <%#= link_to all_projects_path, class:"view-more-btn center" do %>View More Projects<%# end %>
</div> -->

<!-- <script>
  function playSound(myname) {
document.getElementById(myname).play();
};
</script> -->
