<!-- <script>

function onSubmit(title) {
  console.log(title);

  if (document.getElementById('password').value == 'Ineedpassword!')
      {
        sessionStorage.setItem("password_passed", true);
        location.href = "/projects/" + title;
      }
  else{
      alert('Invalid password. Please try again.');
      location.href = "/";
  }
} -->

</script>
<div class="section m-t-150">
  <div class="top-introduction">
    Hi, I'm Hungyi Lee!
    <div class="sub-top-intro">
      I'm a Product Designer at Samsung, have designed B2B and B2C digital products since 2020.
      I have delivered solutions in communication, payment, accessibility, identity & access management, and eCommerce industries.
    </div>
    <%= mail_to "horngyi6527@gmail.com", class:"black-btn center", body:"Hi Hungyi,", target: "_blank" do %>Email me<% end %>
    <%= link_to "https://www.linkedin.com/in/hungyi-lee/", class:"view-more-btn center", target: "_blank" do %>Connect on LinkedIn<% end %>

  </div>
</div>
<div class="section projects" id="projects-section">
  <% @projects.each do |p|%>
      <div class="project">
        <div class="project-image">
          <img class="image" src="<%= p.coverimage%>">
        </div>
        <div class="project-description">
            <div class="project-title"><%= p.title %></div>
            <div class="project-category">
              <%= raw(p.projectdate) %>
            </div>
            <div class="brief-description">
              <%= p.role %>
            </div>
            <% if p.password.present? %>
              <div class="project-link">
                <%= mail_to "contact@hungyilee.com", class:"view-more-btn center", body:"Hi Hungyi," do %>Request permission<% end %>
              </div>
            <% elsif %>
              <div class="project-link">
                  <%= link_to project_path(p.title), class:"view-more-btn center" do %>Read Details<% end %>
              </div>
            <% end%>
        </div>
      </div>
  <% end %>
</div>


<!-- <script>
  function playSound(myname) {
document.getElementById(myname).play();
};
</script> -->
