<!-- <script>

function onSubmit(title) {
  console.log(title);

  if (document.getElementById('password').value == 'Ineedpassword!')
      {
        sessionStorage.setItem("password_passed", true);
        location.href = "/projects/" + title;
      }
  else{
      alert('Invalid password. Please try again.');
      location.href = "/";
  }
} -->

</script>
<div class="section m-t-150">
  <div class="top-introduction">
    Hungyi Lee,
    <div class="sub-top-intro">
      A UX Designer with experience delivering solutions in the public safety communication, digital payment, accessibility, identity & access management, and eCommerce industries with a web development background. 
    </div>
  </div>
</div>
<div class="section projects" id="projects-section">
  <% @projects.each do |p|%>
      <div class="project">
        <div class="project-image">
          <img class="image" src="<%= p.coverimage%>">
        </div>
        <div class="project-description">
            <div class="project-title"><%= p.title %></div>
            <div class="project-category">
              <%= raw(p.projectdate) %>
            </div>
            <div class="brief-description">
              <%= p.role %>
            </div>
            <% if p.password.present? %>
              <!-- <div class="lock-password-field" id="lockpasswordfield"> -->
                <!-- <input type="password" name="password" class="inputField1" id="password" placeholder="Please enter password here" required/> -->
                <!-- <div class="content-open-btn" id="button1" onclick="onSubmit('<%#= p.title %>')">Read Details</div> -->
              <div class="project-link">
                <%= mail_to "contact@hungyilee.com", class:"view-more-btn center", body:"Hi Hungyi," do %>Request permission<% end %>
              </div>
            <% elsif %>
              <div class="project-link">
                  <%= link_to project_path(p.title), class:"view-more-btn center" do %>Read Details<% end %>
              </div>
            <% end%>
        </div>
      </div>
  <% end %>
</div>


<!-- <script>
  function playSound(myname) {
document.getElementById(myname).play();
};
</script> -->
