<div class="section m-t-150">
  <div class="profile-image"></div>
  <div class="top-greeting">Hello! I'm Hungyi Lee</div>
  <div class="top-introduction">
    <!-- A <b>UX designer</b> with web developing background and passionate in understanding users and creating solutions. -->
    A <b>UX designer</b> with web developing background in Seattle, WA.<br/>
    Say hello or get in touch for design work!
    <span class="talk-btn">
      <%= mail_to "horngyi6527@gmail.com", body:"Hi Hungyi," do %>
        Let's talk.
      <% end %>
    </span>
  </div>
  <div class="top-icons">
    <%= render 'home/social_media_icon' %>
  </div>
  <div class="arrow">
    <a href="#projects-section">
      <div>
        <span>View Projects</span><br/>
        <i class="down"></i>
      </div>
    </a>
  </div>
</div>
<div class="section projects" id="projects-section">
  <% @projects.each do |p|%>
    <div class="project">
      <div class="project-image">
        <img class="image" src="<%= p.coverimage%>">
      </div>
      <div class="project-description">
          <div class="project-title"><%= p.title %></div>
          <div class="project-category"> 
            <%= p.projectdate %>
          </div>
          <div class="brief-description">
            <%= p.password %>
          </div>
          <div class="project-link">
            <%= link_to project_path(p.title), class:"view-more-btn center" do %>Read Details<% end %>
          </div>
      </div>
    </div>
  <% end %>
</div>

<!-- <div class="section m-t-150 m-b-150 font-center" id="projects-section">
  <hr/>
  <div class="top-greeting m-b-50">Projects</div>
  <div class="w-900 center">
    <%# @projects.each do |p| %>
      <%#= link_to project_path(p.title) do %>
        <div class="w-300">
            <div class="box-image" style="background-image: url('<%#= p.coverimage %>')"></div>
            <p class="project-title-top"><%#= p.title %></p>
            <p class="project-cat-top"><%#= p.projectdate %></p>
        </div>
      <%# end %>
    <%# end %>
  </div>
  <br/><br/>
  <%#= link_to all_projects_path, class:"view-more-btn center" do %>View More Projects<%# end %>
</div> -->
