<%= form_for(@project) do |f| %>
  <h5>Project Title</h5>
  <%= f.text_field :title, autofocus: true, class:"form-control"%>

  <h5>Project Tags</h5>
  <%= f.text_field :projectdate, autofocus: true, class:"form-control"%>

  <h5>Password</h5>
  <%= f.text_area :password, autofocus: true, class:"form-control"%>

  <h5>Cover image</h5>
  <%= f.text_field :coverimage, autofocus: true, class:"form-control"%>

  <h5>Content - Table of Content</h5>
  <%= f.text_field :category, autofocus: true, class:"form-control"%>

  <h5>Content - brief intro</h5>
  <%= f.text_field :role, autofocus: true, class:"form-control"%>

  <h5>Content - </h5>
  <%= f.text_field :tools, autofocus: true, class:"form-control"%>

  <h5>Content - </h5>
  <%= f.text_area :heroimage, autofocus: true, class:"form-control"%>

  <h5>PDF File</h5>
  <%= f.text_field :pdf, autofocus: true, class:"form-control"%>

  <h5>Decription</h5>
  <%= f.text_area :description, autofocus: true, class:"form-control"%>
  <br/>
  <%= f.submit "Save", class:"btn btn-success" %>
  <%= link_to "Unsave", root_path, class:"btn btn-danger" %>
<% end %>
