<div class="project-section">
  <div class="menu">
      <% @projects.each do |p|%>
        <div class="project-item">
          <div class="project-hover-effect m-r-9 m-t-10 m-l-100"></div>
          <div class="project-title" id="project-<%=p.id%>" onmouseover="test(id)">
            <%= link_to project_path(p) do %>
              <%= p.title %> <span class="project-category">- <%= p.category%></span>
            <% end %>
          </div>
        </div>
      <% end %>
  </div>
  <% @projects.each_with_index do |p, index|%>
    <div class="project-image">
      <div class="cover-image" id="cover-<%= index+1 %>" />
          <%= p.coverimage %>
      </div>
    </div>
  <% end %>
</div>

<script language="javascript" type="text/javascript">
function app(id){
  alert(id);
}

function test(project_id)
{
  var res = project_id.split("-");
  var coverId = "cover-" + res[1];
  // alert(id);
  var element = document.getElementById(coverId).innerHTML = coverId;
  // alert(element);
}

</script>
