<div class="project-section desktop-projects">
  <div class="menu m-t-40">
      <% @projects.each do |p|%>
        <div class="project-item m-t-20">
          <div class="project-hover-effect m-r-9 m-t-10 m-l-100"></div>
          <div class="project-title" id="project-<%=p.id%>" onmouseover="showimage(id)" onmouseout="normal(id)">
            <%= link_to project_path(p.title) do %>
              <%= p.title %> <span class="project-category">- <%= p.category%></span>
            <% end %>
          </div>
        </div>
      <% end %>
  </div>
  <!--<img class="first-cover" src="<%#= @projects.first.coverimage %>">-->
  <div class="first-cover" style="background-image: url('<%= @projects.first.coverimage %>');">
  </div>
  <% @projects.reverse.each_with_index do |p, index|%>
    <!-- <div class="project-image"> -->
      <!-- <div class="cover-image"/> -->
      <!--<img id="cover-<%#= index+1 %>" class="project-cover-image" src="<%#= p.coverimage %>">-->
      <div id="cover-<%= index+1 %>" class="project-cover-image" style="background-image: url('<%= p.coverimage %>');">
      </div>
      <!-- </div> -->
    <!-- </div> -->
  <% end %>
</div>

<!-- mobile & tablet -->
<div class="tablet-projects m-b-80">
  <% @projects.each do |p|%>
    <%= link_to project_path(p.title) do %>
      <div class="tablet-cover-image" style="background-image: url('<%= p.coverimage %>');">
      </div>
      <div class="tablet-title m-l-80">
        <h3 class="m-t-40"><%= p.title %></h3>
        <p class="m-b-40"><%= p.category %></p>
      </div>
    <% end %>
  <% end %>
</div>




<script language="javascript" type="text/javascript">
  function showimage(project_id)
  {
    // project_id = "project-xxx"
    var res = project_id.split("-");
    // res = array, res[0]=project, res[1] = xxx
    var coverId = "cover-" + res[1];
    // alert(id);
    // var element = document.getElementById(coverId).innerHTML = coverId;
    var element = document.getElementById(coverId).style.display = 'block';
  }

  function normal(project_id)
  {
    var res = project_id.split("-");
    var coverId = "cover-" + res[1];

    document.getElementById(coverId).style.display = 'none';
  }
</script>
