<!-- <script>
if (sessionStorage.length == 0){
      location.href = "/";
};
</script> -->


<div class="section m-t-70">
  <div class="breadcrumb">
    <div class="breadcrumb-content">
      <span class="breadcrumb-home"><%= link_to root_path do%>Portfolio<%end%></span>
      <span>/</span>
      <span class="breadcrumb-active"><%= @project.title %></span>
    </div>
  </div>
  <div class="project-show-hero">

  </div>

  <!--Details-->
      <section class="content-section">
            <div class="blog-show-section2">
              <div class="maincontent">
                    <div class="project-detailed-content">
                        <!-- <div class="lock-password-field"> -->
                          <!-- <input type="password" name="password" class="inputField1" id="password" placeholder="Please Enter Password Here" required/> -->
                          <!-- <div class="content-open-btn" id="button1" onclick="onSubmit()">Submit</div> -->
                        <!-- </div> -->
                          <div class="table-content">
                            <%= raw(@project.category) %>
                          </div>
                          <section class="content-section">
                            <div class="pagename"><%= @project.title %></div>
                            <div class="project-content-category"><%= raw(@project.projectdate) %></div>
                          </section>
                          <%= raw(@project.description) %>
                    </div>
              </div>
            </div>
      </section>

  <!--Details-->

</div>



<div class="section">
  <div class="bk-pj-btn">
    <%= link_to root_path(anchor: "projects-section") do %>BACK TO HOME<% end %>
  </div>
  <hr>
  <div>
    <h3 class="more-studies">MORE CASE STUDIES</h3>
  </div>
  <div class="content-bottom-section">
    <% if @project.previous.present? %>
        <div class="previous-pj">
          <div class="previous-pj-img" style="background-image: url('<%= @project.previous.coverimage %>');"></div>
          <div class="previous-pj-title"><%= @project.previous.title%></div>
          <%= link_to @project.previous.title do %>Read More<% end %>
        </div>
    <% end %>
    <% if @project.next.present? %>
        <div class="next-pj">
          <div class="next-pj-img" style="background-image: url('<%= @project.next.coverimage %>');"></div>
          <div class="next-pj-title"><%= @project.next.title%></div>
          <%= link_to @project.next.title do %>Read More<% end %>
        </div>
    <% end %>
  </div>
</div>

<script>

  window.addEventListener('scroll', () => {
    const observer = new IntersectionObserver(entries => {
      entries.forEach(entry => {
        const link = entry.target.getAttribute('id');
        if (entry.intersectionRatio > 0) {
          // document.querySelector(`div ol li a[href="#${id}"]`).parentElement.classList.add('activecontent');
          document.querySelector(`div ol li a[href="#${link}"]`).parentElement.classList.add('activecontent');

        } else {
          // document.querySelector(`div ol li a[href="#${id}"]`).parentElement.classList.remove('activecontent');
          document.querySelector(`div ol li a[href="#${link}"]`).parentElement.classList.remove('activecontent');
        }
      });
    });

    // Track all sections that have an `id` applied
    document.querySelectorAll('section[id]').forEach((section) => {
      observer.observe(section);
    });
  });


  document.addEventListener('DOMContentLoaded', function() {
      // Select all <a> elements inside <li> elements
      var links = document.querySelectorAll('li a');

      // Iterate through each link and add an event listener
      links.forEach(function(link) {
          link.addEventListener('click', function(event) {
              if (this.hash !== "") {
                  event.preventDefault();
                  var hash = this.hash;

                  // Scroll to the target element smoothly
                  var target = document.querySelector(hash);
                  if (target) {
                      window.scrollTo({
                          top: target.offsetTop,
                          behavior: 'smooth'
                      });

                      // Update the URL hash after scrolling
                      setTimeout(function() {
                          window.location.hash = hash;
                      }, 900); // Match the 900ms animation duration
                  }
              }
          });
      });
  });

</script>
