<%#= raw(@project.description) %>
<div class="section m-t-150">
  <h3 class="project-content-title"><%= @project.title %></h3>
  <p class="project-content-category"><%= @project.category %></p>
  <div class="project-info">
    <div class="project-duration">
      <h4 class="duration-title">Duration</h4>
      <p class="duration-date"><%= @project.projectdate %></p>
    </div>
    <div class="project-role">
      <h4 class="role-title">Role</h4>
      <p class="role-description"><%= @project.role %></p>
    </div>
    <div class="project-tools">
      <h4 class="tools-title">Tools</h4>
      <p class="tools-description"><%= @project.tools %></p>
    </div>
  </div>
</div>
<div class="project-hero-image"
     style="background-image: url('<%= @project.heroimage %>');"
>
</div>

<!-- Description Start -->
<div class="project-content">
  <div class="project-content-section">
    <h4>Overview</h4>
  </div>
  <div class="project-content-section">
    <h4>Problem Statement</h4>
  </div>
  <div class="project-content-section">
    <h4>Interview Summary</h4>
  </div>
  <div class="project-content-section">
    <h4>Competitive Analysis</h4>
  </div>
  <div class="project-content-section">
    <h4>Personas & Empathy Maps</h4>
  </div>
  <div class="project-content-section">
    <h4>Users Stories & MVP</h4>
  </div>
  <div class="project-content-section">
    <h4>Content Strategy</h4>
  </div>
  <div class="project-content-section">
    <h4>Site Maps & User flows</h4>
  </div>
  <div class="project-content-section">
    <h4>Prototype & Usability Testing</h4>
  </div>
  <div class="project-content-section">
    <h4>Wireframe Sketches</h4>
  </div>
  <div class="project-content-section">
    <h4>Visual Design System</h4>
  </div>
  <div class="project-content-section">
    <h4>Conclusion</h4>
  </div>
</div>
<!-- Description End -->

<div class="section">
  <div class="content-bottom-section">
    <% if @project.previous.present? %>
        <%= link_to @project.previous do %>
          <div class="previous">
             <span>&#8672;</span> PREVIOUS PROJECT
          </div>
        <% end %>
    <% end %>
    <% if @project.next.present? %>
        <%= link_to @project.next do %>
        <div class="next">
          NEXT PROJECT <span>&#8674;</span>
        </div>
        <% end %>
    <% end %>
  </div>
</div>
