<%#= raw(@project.description) %>
<div class="content-top-cover"
     style="width: 100%;
            height: 600px;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url('<%= @project.heroimage %>');"
>
</div>
<div class="content-section m-t-40 m-b-20">
  <h3><%= @project.title %></h3>
  <p><%= @project.category %></p>
  <h4>Duration</h4>
  <p><%= @project.projectdate %></p>
  <h4>My Role</h4>
  <p><%= @project.role %></p>
  <h4>Tools</h4>
  <p><%= @project.tools %></p>
  <hr>
  <!-- Each item -->
  <h4 id="overview">Overview</h4>
  <h4 id="problem">Problem Statement</h4>
  <h4 id="interview">Interview Summary</h4>
  <h4 id="competitive">Competitive Analysis</h4>
  <h4 id="personas">Personas & Empathy Maps</h4>
  <h4 id="userstory">Users Stories & MVP</h4>
  <h4 id="contentstra">Content Strategy</h4>
  <h4 id="sitemaps">Site Maps & User flows</h4>
  <h4 id="wireframe">Wireframe Sketches</h4>
  <h4 id="prototype">Prototype & Usability Testing</h4>
  <h4 id="visualdesign">Visual Design System</h4>
  <h4 id="conclusion">Conclusion</h4>
</div>
<div class="content-section m-t-40 m-b-20">
  Go to next Project:
</div>
