
<div class="section m-t-50">
  <div class="project-top">
    <div class="project-content-title"><%= @project.title %></div>
    <%# <p class="project-content-category"><%= @project.category %></p> %>
    <!-- project brief information -->
    <%= raw(@project.heroimage)%>
    <!-- project brief information finish-->
    <div class="open-case-study">
      <div onclick="myFunction()" id="readMoreBtn">Read Full Case Study</div>
      <%= link_to @project.pdf, target:"_blank" do %><div id="pdfBtn">PDF Case Study</div><%end%>
    </div>
  </div>
  <!-- project detailed content start -->
  <%= raw(@project.description) %>
  <!-- project detailed content end -->
</div>


<script>
function myFunction() {
  window.scrollTo(0, 1500);
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("readMoreBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read Full Case Study";
    moreText.style.display = "none";
    window.scrollTo(0,0);
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Close Case Study";
    moreText.style.display = "inline";
    window.scrollTo(0,1000);
  }
}
</script>



<div class="section">
  <div class="bk-pj-btn">
    <%= link_to all_projects_path do %>BACK TO PROJECTS<% end %>
  </div>
  <hr>
  <div>
    <h3 class="more-studies">MORE CASE STUDIES</h3>
  </div>
  <div class="content-bottom-section">
    <% if @project.previous.present? %>
        <div class="previous-pj">
          <div class="previous-pj-img" style="background-image: url('<%= @project.previous.coverimage %>');"></div>
          <div class="previous-pj-title"><%= @project.previous.title%></div>
          <%= link_to @project.previous.title do %>Read More<% end %>
        </div>
    <% end %>
    <% if @project.next.present? %>
        <div class="next-pj">
          <div class="next-pj-img" style="background-image: url('<%= @project.next.coverimage %>');"></div>
          <div class="next-pj-title"><%= @project.next.title%></div>
          <%= link_to @project.next.title do %>Read More<% end %>
        </div>
    <% end %>
  </div>
</div>
