<div class="section m-t-150">
  <div class="maincontent">
    <!-- table -->
    <div class="table-content">
      <%#= @project.category %>
      <ol>
        <li><a href="#intro">Introduction</a></li>
        <li><a href="#discover">Discover</a></li>
        <li><a href="#define">Define</a></li>
        <li><a href="#ideate">Ideate</a></li>
        <li><a href="#validate">Validate</a></li>
        <li><a href="#wrapup">Wrap up</a></li>
      </ol>
    </div>
  	<div class="project-detailed-content">
      <div class="project-content-title"><%= @project.title %></div>
      <div class="project-content-category"><%= raw(@project.projectdate) %></div>
      <!-- Content -->
      <%#= @project.description %>
  		<section class="content-section" id="intro">
  			<h4>Introduction</h4>
        <p>LEGO is a Danish toy production company. I'll redesign it base on some LEGO fans' data.</p>
        <p class="content-sub-title">The Problem</p>
        <p>People have difficulties as they look for Lego products from the current LEGO website.</p>
        <p class="content-sub-title">My Role</p>
        <p>I was the only UX Designer, and I was responsible for summarizing the interview data, sketched solutions, created prototypes and validated the solutions with usability testings.</p>
        <p class="content-sub-title">Metrics</p>
        <ul>
          <li>I categorized the themes to help users find the product easily. The time to look for the product is reduced by 80%.</li>
          <li>I used consistent design and less color to make the screen clean. 100% of users felt the visual design was clean and pleasing.</li>
          <li>Based on the user research, I added new information users want, and grouped the information into categories. 80% of users were satastified with the way that I presented the information of the product.</li>
        </ul>
        <div class="iframe-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/UPHDeUhgSxg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
  		</section>
  		<section class="content-section" id="discover">
  			<h4>Discover</h4>
        <p class="content-sub-title">User Research</p>
        <p>To better understand users’ needs and behaviors when looking for products on the LEGO website, I conducted in-person interviews with the people who have experience in using the LEGO website. The interview uncovered more pain points. The results can be summarized to three big pain points:</p>
        <ul>
          <li>
            <b>The information architecture is messy.</b>
            <p>Users feel lost in a bunch of unorganized themes. Also, some themes are too similar to tell the difference. E.g. "Car" and "Vehicles". Moreover, some themes have inexplicable names, e.g. BOOST, STEM.</p>
          </li>
          <li>
            <b>The information is confusing.</b>
            <p>Users struggle to find best-selling products. Besides, some out of stock products are still listed and users click them wrongly.</p>
          </li>
          <li>
            <b>Incomprehensive information</b>
            <p>Users hope LEGO can provide more information, like difficulty, scale, quantity of product sold, how much time most people spend on completing this product, etc to help them understand the product better.</p>
          </li>
        </ul>
        <p class="content-sub-title">Competitor Analysis</p>
        <p>I next turned to competitors’ sites to see how they were (or were not) approaching the user experience.
          My goal was to compare and identify common features across the websites and potential opportunities for LEGO to differentiate itself.
        </p>
        <p>
          I mainly focused on the homepage, filters, categories page, and products page since users have problems in finding products of interest. I have selected 3 craft supply sites, which also have many categories, comparing to the LEGO:
          <a href="https://www.shopdisney.com/toys-content/?att=DcomM_HP_Feed_DSIMobileRedirect_t&efc=280559&cmp=OTL-Dcom_att_DropRollover_Toys_EFC280559" target="_blank">Disney</a>
          <a href="https://shop.mattel.com/shop" target="_blank">Mattel</a>
          <a href="https://shop.hasbro.com/en-us" target="_blank">Hasbro</a>
        </p>
        <figure>
          <img src="https://live.staticflickr.com/65535/49703665807_6a8c8a9086_o.png">
          <figcaption>Fig.1 - The summary of competitors </figcaption>
        </figure>
        <p>There are some insights:</p>
        <ul>
          <li>None of these businesses show the scale for users. However, from the interview data, users feel that it is important to evaluate the real size of the product.</li>
          <li>Most businesses tend to name the categories with natural language, so that users can be navigated easily.</li>
          <li>When demonstrating the product, all of the businesses tend to show box’s pictures. It matches the interview data.</li>
        </ul>
  		</section>
  		<section class="content-section" id="define">
  			<h4>Define</h4>
        <p class="content-sub-title">Personas</p>
        <p>
          Based on the data I collected, I created representations of two major user types.
          One is <b>"LEGO collector"</b>; the other is <b>"Who buys LEGO as gifts for children"</b>.
        </p>
        <figure>
          <img src="https://live.staticflickr.com/65535/49703352016_cefd603354_o.png">
          <figcaption>Fig.2 - Personas (LEGO collector) </figcaption>
        </figure>
        <figure>
          <img src="https://live.staticflickr.com/65535/49703667197_32cc0033a2_o.png">
          <figcaption>Fig.3 - Personas (Who buys LEGO as gifts for children) </figcaption>
        </figure>
        <p class="content-sub-title">Problem Statements</p>
        <p>Based on the research, the problems are further defined as follows:</p>
        <ul>
          <li>How might we help users understand the product better?</li>
          <li>How might we help users easily find the product they want?</li>
        </ul>
        <p class="content-sub-title">Content Organization</p>
        <p>LEGO has tons of themes and they need to be reorganized. Therefore, I created 6 predetermined categories to group the themes. To clarify whether those categories were logical to the majority of users,  a hybrid card sorting session was performed. The main findings are:</p>
        <ul>
          <li>"Disney", "Marvel", "Harry Potter" and other collaborated LEGO were grouped together and named as Franchise. Also, "Frozen" belongs to "Disney". They shouldn’t appear in the same hierarchy.</li>
          <li>Some names of themes are abstruse, like "Hidden Side",  "Ninjago", "Creator", etc. They were put together.</li>
          <li>"Dragons" and "Dinosaurs" can be grouped into "Animals" instead of separated items.</li>
        </ul>
  		</section>
  		<section class="content-section" id="ideate">
  			<h4>Ideate</h4>
        <p>I started sketching wireframes on paper to visualize how the user interface elements will be positioned.
      I worked on "Homepage", "Category Page", and "Product Page".</p>
        <p class="content-sub-title">The solutions for helping users understand the product better?</p>


        <p>On the Homepage, I made some improvements as follow:</p>
        <ul>
          <li>reorganized the navigation bar</li>
          <li>added "Shop By Age" and "Popular Products" sections.</li>
        </ul>




        <figure>
          <img src="https://live.staticflickr.com/65535/49740156856_18aa4d54cd_o.jpg">
          <figcaption>Fig.2 - Sketch for solutions</figcaption>
        </figure>
        <p class="content-sub-title">The solutions for letting new users understand the app</p>
        <figure>
          <img src="https://live.staticflickr.com/65535/49739689048_10ff7cd628_o.png">
          <figcaption>Fig.3 - The solution for allowing users understand the app</figcaption>
        </figure>
        <p>Guide the users to use the features directly because:</p>
        <ul>
          <li>Users become overwhelmed by the narrative elements.</li>
          <li>Directly use the app would make users engage with the app more than only read the text</li>
          (Support data: <a target="_blank" href="https://books.google.com/books?id=5qKhDwAAQBAJ&pg=PA425&lpg=PA425&dq=Read+lengthy+texts+would+make+users+feel+overwhelmed&source=bl&ots=UEApIIXlTg&sig=ACfU3U3l7D8f3MZqZZWg9f9dDI5-rWu-hQ&hl=en&sa=X&ved=2ahUKEwirltmS-MjoAhVSqZ4KHUlYAv8Q6AEwAHoECA0QKQ#v=onepage&q=Read%20lengthy%20texts%20would%20make%20users%20feel%20overwhelmed&f=false">Design, User Experience, and Usability</a>)
        </ul>
        <p class="content-sub-title">The solution for helping new users find the suitable at-home workout program?</p>
        <figure>
          <img src="https://live.staticflickr.com/65535/49740544087_fc7ebf3249_o.png">
          <figcaption>Fig.4 - The solution for helping users find the suitable workout program</figcaption>
        </figure>
        <p>I understood users' goals, preferences, level and then suggest suitable workout plan, because:</p>
        <ul>
          <li>Giving results that based on users’ situations could avoid wrong selection and repeat work.</li>
          <li>I chose the purpose of workout, the furnitures users have, training focus, gender and workout level. These information were related to users' compalints.</li>
        </ul>
        <p class="content-sub-title">The solutions for increasing user engagement</p>
        <figure>
          <img src="https://live.staticflickr.com/65535/49740544077_389336389b_o.png">
          <figcaption>Fig.5 - The solution for increasing user engagement</figcaption>
        </figure>
        <p>
          I provided "Reward system" instead of "rank" since reward would encourage users earn more.
          Rank related to "ordered by" and "how to get higher rank". It would make onboarding process complicated and long. Therefore, I rather showed the rank later instead of including in the onboarding process.
        </p>
        <p class="content-sub-title">About the timing of asking users signing up</p>
        <figure>
          <img src="https://live.staticflickr.com/65535/49740218151_f49c23d8e5_o.png">
          <figcaption>Fig.6 - The solution for creating an account</figcaption>
        </figure>
        <p>
          I put "Create Profile" page after experiencing the whole workout process.
          Because it may has a high sign up rate if users understand the app.
          In addition, after users earned the rewards, they probably do not want to lose it.
        </p>
        <p class="content-sub-title">Visual Design</p>
        <p>I incorporated the <a href="https://material.io/design/guidelines-overview/" target="_blank">Material Desing Guidelines</a> to create prototypes with Figma.</p>
        <figure>
          <img src="https://live.staticflickr.com/65535/49739818513_e1e9158094_o.png">
          <figcaption>Fig.7 - Screens of prototype</figcaption>
        </figure>
        <p class="content-sub-title">About the colors</p>
        <p>I chose dark theme and green because</p>
        <ul>
          <li>Dark background make things be focused easily.</li>
          <li>Green could represent relaxing and refreshing the body.</li>
          <li>Green has a healing effect and boosts satisfaction which can make workouts more enjoyable</li>
        </ul>
        <p class="content-sub-title">Using icons to increase interests</p>
        <p>I used icons to make users feel enjoyable.</p>
        <figure>
          <img src="https://live.staticflickr.com/65535/49740409791_9ae975d5ce_o.png">
          <figcaption>Fig.8 - Asking workout purpose & furniture pages</figcaption>
        </figure>
        <p class="content-sub-title">Using a body figure to instruct</p>
        <p>Besides texts, I also used a body figure so it would be more clear when selecting parts to train.</p>
        <figure>
          <img src="https://live.staticflickr.com/65535/49740414521_6b0bb0456e_o.png">
          <figcaption>Fig.9 - Focus body page</figcaption>
        </figure>
        <p class="content-sub-title">Try workout with the app</p>
        <p>I choose animation to indicate the movements because users could be focus since the animation is simple and clean. In addition,
          I gave users a pause button and go next arrow button which allowed they could stop temporarily or skip the workout.
          This would make users have more flexibility.
        </p>
        <figure>
          <img src="https://live.staticflickr.com/65535/49739866973_3f564a9130_o.png">
          <figcaption>Fig.10 - Try workout with the app page</figcaption>
        </figure>
  		</section>
  		<section class="content-section" id="validate">
  			<h4>Validate</h4>
        <p>After finishing the prototype, I conducted usability testing to learn the feedback.</p>
        <p class="content-sub-title">Positive feedback from the usability testing</p>
        <ol>
          <li>It's easy to learn.</li>
          <li>Every instructions are clear.</li>
          <li>I'm willing to sign up.</li>
        </ol>
        <p class="content-sub-title">Rooms for improvement based on the users' feedback</p>
        <ol>
          <li>
            Changed button from "continue" to "start workout" to help users be prepared.
            <figure>
              <img src="https://live.staticflickr.com/65535/49740856957_411d72fdf4_o.png">
              <figcaption>Fig.11 - Changed button from "continue" to "start workout"</figcaption>
            </figure>
          </li>
          <li>
            Users feel that creating a profile after unlocking a program wasn't intuitive.
            To solve this issue, I removed "unlocking exercise with points" since it’s less important in onboarding process.
            Then, I merged points page into workout completed page.
            <figure>
              <img src="https://live.staticflickr.com/65535/49740856952_54bdb6a1b0_o.png">
              <figcaption>Fig.12 - The flow I've changed</figcaption>
            </figure>
          </li>
        </ol>
  		</section>
  		<section class="content-section" id="wrapup">
  			<h4>Wrap Up</h4>
        <p>I'm glad to participate in this design challenge held by Bitesize. It's a fun experience.
          Besides, there are some of the things I’d like to dive deep into if this was a real life project</p>
        <ul>
          <li>About the focus training part, how to show people some abstract options, e.g. cardio?</li>
          <li>Collecting data by using analytics tools (e.g. Google Analytics) and keep optimizing.</li>
        </ul>
        <p>Thank you for reading.</p>
  		</section>
  	</div>
  </div>
</div>

<div class="section">
  <div class="bk-pj-btn">
    <%= link_to root_path(anchor: "projects-section") do %>GO BACK<% end %>
  </div>
  <hr>
  <div>
    <h3 class="more-studies">MORE CASE STUDIES</h3>
  </div>
  <div class="content-bottom-section">
    <% if @project.previous.present? %>
        <div class="previous-pj">
          <div class="previous-pj-img" style="background-image: url('<%= @project.previous.coverimage %>');"></div>
          <div class="previous-pj-title"><%= @project.previous.title%></div>
          <%= link_to @project.previous.title do %>Read More<% end %>
        </div>
    <% end %>
    <% if @project.next.present? %>
        <div class="next-pj">
          <div class="next-pj-img" style="background-image: url('<%= @project.next.coverimage %>');"></div>
          <div class="next-pj-title"><%= @project.next.title%></div>
          <%= link_to @project.next.title do %>Read More<% end %>
        </div>
    <% end %>
  </div>
</div>
