<div class="section m-t-150">
  <div class="maincontent">
    <!-- table -->
    <div class="table-content">
      <%= raw(@project.category) %>
    </div>
  	<div class="project-detailed-content">
      <div class="project-content-title"><%= @project.title %></div>
      <div class="project-content-category"><%= raw(@project.projectdate) %></div>
      <!-- Content -->
      <%= raw(@project.description) %>
  	</div>
  </div>
</div>

<div class="section">
  <div class="bk-pj-btn">
    <%= link_to root_path(anchor: "projects-section") do %>GO BACK<% end %>
  </div>
  <hr>
  <div>
    <h3 class="more-studies">MORE CASE STUDIES</h3>
  </div>
  <div class="content-bottom-section">
    <% if @project.previous.present? %>
        <div class="previous-pj">
          <div class="previous-pj-img" style="background-image: url('<%= @project.previous.coverimage %>');"></div>
          <div class="previous-pj-title"><%= @project.previous.title%></div>
          <%= link_to @project.previous.title do %>Read More<% end %>
        </div>
    <% end %>
    <% if @project.next.present? %>
        <div class="next-pj">
          <div class="next-pj-img" style="background-image: url('<%= @project.next.coverimage %>');"></div>
          <div class="next-pj-title"><%= @project.next.title%></div>
          <%= link_to @project.next.title do %>Read More<% end %>
        </div>
    <% end %>
  </div>
</div>
