<script>

function onSubmit() {
  if (document.getElementById('password').value == '65!a02TSn0sc')
      {
        sessionStorage.setItem("password_passed", true);
        window.unlock.style.display="block";
        window.lockpasswordfield.style.display="none";

      }
  else{
      alert('Invalid password. Please try again.');
  }
}




</script>


<div class="section m-t-70">
  <div class="breadcrumb">
    <div class="breadcrumb-content">
      <span class="breadcrumb-home"><%= link_to root_path do%>Portfolio<%end%></span>
      <span>/</span>
      <span class="breadcrumb-active"><%= @project.title %></span>
    </div>
  </div>
  <div class="heroimage project-show-hero" style="background-image:url('<%= @project.coverimage%>')">
    <span class="pagename"><%= @project.title %><span>
    <p class="project-content-category"><%= raw(@project.projectdate) %></p>
  </div>

  <!--Details-->
  <% if @project.password.present? %>
    <section class="content-section">
          <div class="blog-show-section2">
            <div class="maincontent">
                  <div class="project-detailed-content">
                      <div class="lock-password-field" id="lockpasswordfield">
                        <input type="password" name="password" class="inputField1" id="password" placeholder="Please enter password here" required/>
                        <div class="content-open-btn" id="button1" onclick="onSubmit()">Submit</div>
                      </div>
                      <div class="unlock" id="unlock">
                        <div class="table-content">
                          <%= raw(@project.category) %>
                        </div>
                        <%= raw(@project.description) %>
                      </div>
                  </div>
            </div>
          </div>
    </section>

  <% elsif %>
      <section class="content-section">
            <div class="blog-show-section2">
              <div class="maincontent">
                    <div class="project-detailed-content">
                        <!-- <div class="lock-password-field"> -->
                          <!-- <input type="password" name="password" class="inputField1" id="password" placeholder="Please Enter Password Here" required/> -->
                          <!-- <div class="content-open-btn" id="button1" onclick="onSubmit()">Submit</div> -->
                        <!-- </div> -->
                          <div class="table-content">
                            <%= raw(@project.category) %>
                          </div>
                          <%= raw(@project.description) %>
                    </div>
              </div>
            </div>
      </section>
  <% end %>
  <!--Details-->

</div>



<div class="section">
  <div class="bk-pj-btn">
    <%= link_to root_path(anchor: "projects-section") do %>BACK TO HOME<% end %>
  </div>
  <hr>
  <div>
    <h3 class="more-studies">MORE CASE STUDIES</h3>
  </div>
  <div class="content-bottom-section">
    <% if @project.previous.present? %>
        <div class="previous-pj">
          <div class="previous-pj-img" style="background-image: url('<%= @project.previous.coverimage %>');"></div>
          <div class="previous-pj-title"><%= @project.previous.title%></div>
          <%= link_to @project.previous.title do %>Read More<% end %>
        </div>
    <% end %>
    <% if @project.next.present? %>
        <div class="next-pj">
          <div class="next-pj-img" style="background-image: url('<%= @project.next.coverimage %>');"></div>
          <div class="next-pj-title"><%= @project.next.title%></div>
          <%= link_to @project.next.title do %>Read More<% end %>
        </div>
    <% end %>
  </div>
</div>
