
<div class="section m-t-50">
  <div class="project-content-title">
    <%= @project.title %>
    <div class="project-category"><%= raw(@project.projectdate) %></div>
  </div>
  <!-- <div class="pdf"> -->
    <%#= link_to @project.pdf, target:"_blank" do %>
      <!-- <div class="open-case-study"> -->
          <!-- Download PDF -->
      <!-- </div> -->
    <%#end%>
  <!-- </div> -->
  <div class="project-detailed-content">
    <div class="detail-content">
      <h4>Overview</h4>
      <h6>The Problem</h6>
      <%= raw(@project.category) %>
      <h6>My Role</h6>
      <%= raw(@project.role) %>
      <!-- <h6>Tools</h6> -->
      <!-- <p><%#= raw(@project.tools) %></p> -->
      <h6>Process</h6>
      <%= raw(@project.heroimage) %>
    </div>
  </div>
  <!-- project detailed content start -->
  <%= raw(@project.description) %>
  <!-- project detailed content end -->
</div>


<!-- <script>
function myFunction() {
  window.scrollTo(0, 1500);
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("readMoreBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read Full Case Study";
    moreText.style.display = "none";
    window.scrollTo(0,0);
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Close Case Study";
    moreText.style.display = "inline";
    window.scrollTo(0,1000);
  }
}
</script> -->



<div class="section">
  <div class="bk-pj-btn">
    <%= link_to root_path(anchor: "projects-section") do %>GO BACK<% end %>
  </div>
  <hr>
  <div>
    <h3 class="more-studies">MORE CASE STUDIES</h3>
  </div>
  <div class="content-bottom-section">
    <% if @project.previous.present? %>
        <div class="previous-pj">
          <div class="previous-pj-img" style="background-image: url('<%= @project.previous.coverimage %>');"></div>
          <div class="previous-pj-title"><%= @project.previous.title%></div>
          <%= link_to @project.previous.title do %>Read More<% end %>
        </div>
    <% end %>
    <% if @project.next.present? %>
        <div class="next-pj">
          <div class="next-pj-img" style="background-image: url('<%= @project.next.coverimage %>');"></div>
          <div class="next-pj-title"><%= @project.next.title%></div>
          <%= link_to @project.next.title do %>Read More<% end %>
        </div>
    <% end %>
  </div>
</div>
