<div class="al-posts">
  <% @sideprojects.each do |p|%>
  <div class="al-post">
    <%= link_to sideproject_path(p.title) do %>
      <img class="image" src="<%= p.coverimage %>">
    <% end %>
    <div class="post-lang"><%= p.overview %></div>
    <div class="post1-content">
      <div class="post-tag"><%= p.tag %>・<%= p.projectdate %></div>
        <div class="post-title"><%= p.title %></div>
      <p class="foreword"><%= p.briefintro.truncate(100) %></p>
      <%= link_to sideproject_path(p.title) do %>READ MORE<% end %>
    </div>
  </div>
  <% end %>
</div>
<div class="bk-pj-btn">
  <a href="#" id="loadMore">LOAD MORE</a>
</div>
