<div class="section m-t-70">
  <div class="breadcrumb">
    <span class="breadcrumb-home"><%= link_to root_path do%>Home<%end%></span>
    <span>/</span>
    <span class="breadcrumb-home"><%= link_to sideprojects_path do%>Blog<%end%></span>
    <span>/</span>
    <% if @sideproject.tag == 'Lab'%>
    <span class="breadcrumb-home"><%= link_to blog_labs_path do%>Lab<%end%></span>
    <% elsif @sideproject.tag == 'Career' %>
    <span class="breadcrumb-home"><%=link_to blog_careers_path do %>Career<% end %></span>
    <% elsif @sideproject.tag == 'Skillshare' %>
    <span class="breadcrumb-home"><%=link_to blog_skillshares_path do %>Skillshare<% end %></span>
    <% elsif @sideproject.tag == 'Books' %>
    <div class="breadcrumb-home"><%= link_to blog_books_path do%>Books<% end %></div>
    <% end %>
    <span>/</span>
    <span class="breadcrumb-active breadcrumb-title"><%= @sideproject.title %></span>
  </div>
  <div class="blog-show-section">
    <div class="project-detailed-content">
      <div class="project-content-title"><%= @sideproject.title %></div>
      <div class="post-tag"><%=@sideproject.tag%>・<%= @sideproject.projectdate %></div>
    </div>
  </div>
  <div class="blog-show-section2">
    <div class="project-detailed-content">
        <%= raw(@sideproject.description) %>
        <hr/>
    </div>
  </div>
  <!-- <div class="blog-show-section blog-show-section2"> -->
    <!-- Related posts -->
    <!-- <h3 class="more-studies">More Posts</h3> -->
    <!-- <ul> -->
      <%# @sideprojects.sample(4).each do |s|%>
       <!-- <li><b> -->
         <%#= link_to sideproject_path(s.title) do %><%#= s.title %><%# end %>
       <!-- </b></li> -->
      <%# end %>
    <!-- </ul> -->
  <!-- </div> -->
  <!-- <div class="bk-pj-btn"> -->
    <!-- <%#= link_to sideprojects_path do %>BACK TO BLOG<%# end %> -->
  <!-- </div> -->
</div>




<div class="section">
  <div class="bk-pj-btn">
    <%= link_to sideprojects_path do %>BACK TO BLOG<% end %>
  </div>
  <!-- <hr> -->
  <div>
    <h3 class="more-studies">MORE ARTICLES</h3>
  </div>
  <div class="content-bottom-section">
        <% @sideprojects.sample(2).each do |s|%>
          <div class="previous-pj">
            <div class="previous-pj-img" style="background-image: url('<%= s.coverimage %>');"></div>
            <div class="previous-pj-title"><%= s.title%></div>
            <%= link_to sideproject_path(s.title) do %>Read More<% end %>
          </div>
        <% end %>
  </div>
</div>
