<div class="section m-t-70">
  <!-- Breadcrumb -->
  <!-- <div class="breadcrumb">
    <span class="breadcrumb-home"><%#= link_to root_path do%>Home<%#end%></span>
    <span>/</span>
    <span class="breadcrumb-home"><%#= link_to sideprojects_path do%>Blog<%#end%></span>
    <span>/</span>
    <span class="breadcrumb-active">Lab</span>
  </div> -->
  <!-- Breadcrumb -->

  <div class="heroimage blog-hero">
    <span class="pagename">Blog / Lab</span>
    <p>This is where I utilize various design tools and my knowledge to experiment on different things.</p>
  </div>

  <div class="blog-section">
    <!-- blogtop categories -->
    <div class="blog-top-categories">
      <!-- categories -->
      <div class="categories">
        <h3 class="mbonly-title"><b>Categories</b></h3>
        <div class="blog-cat-item"><%= link_to sideprojects_path do%>All<% end %></div>
        <div class="blog-cat-item"><%= link_to blog_careers_path do%>Career<% end %></div>
        <div class="blog-cat-item"><%= link_to blog_skillshares_path do%>Skillshare<% end %></div>
        <div class="blog-cat-item blog-cat-item-active">Lab</div>
        <div class="blog-cat-item"><%= link_to blog_books_path do%>Books<% end %></div>
      </div>
      <!-- categories -->
      <!-- search bar -->
      <%= form_tag(@sideproject_path, method: "get", class:"h-form") do %>
        <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search posts" %>
      <% end %>
    </div>
    <!-- blogtop categories -->
    <!-- all posts -->
    <% if @sideprojects.present? %>
      <h3><b>Lab Posts</b> (<%=@sideprojects.size%>)</h3><br/>
      <%= render 'sideprojects/allposts'%>
    <% else %>
      <h3><b>Lab Posts</b> (<%=@sideprojects.size%>)</h3><br/>
    <% end %>
    <!-- all posts -->
    <!-- featured posts -->
    <%#= render 'sideprojects/featuredposts'%>
    <!-- featured posts -->
  </div>
</div>
