<div class="section resume-section m-t-150">
  <!-- <div class="resume-title center font-center">Hungyi Lee</div> -->
  <div class="work-experiences-section">
    <div class="work-position-section center font-center">
      <div class="job-description">Hungyi Lee <br/>UX Designer in Seattle</div>
        <div class="bk-pj-btn">
          <%= link_to "https://drive.google.com/file/d/1pBwq-j8eqokrglA9dDrnE4Jfr9BK10Ya/view", target: "_blank" do %>
          Download PDF Resume
          <% end %>
        </div>
    </div>
  </div>
</div>
<!-- Profile Begin -->
<div class="section resume-section">
  <div class="resume-title">Summary</div>
  <hr/>
  <div class="work-experiences-section">
      <ul>
        <li>Targeting junior UX designer position</li>
        <li>1 year experience in web programming, and ~7 years in graphic design</li>
        <li>UX bootcamp graduated and experienced a 4-week UX designer intern</li>
      </ul>
  </div>
</div>
<!-- Profile End -->
<!-- Experiences Begin -->
<div class="section resume-section">
  <div class="resume-title">Experience</div>
  <hr/>
  <% @works.each do |w|%>
  <div class="work-experiences-section m-t-20">
    <div class="work-position-section">
      <div class="position"><%= w.company %> / <%= w.position%></div>
      <div class="work-dates"><%= w.timeline %> <%= w.location%></div>
    </div>
    <div class="work-duties-section">
      <%= raw(w.description) %>
    </div>
  </div>
  <%end%>
</div>
<!-- Experiences End -->
<!-- Projects Begin -->
<div class="section resume-section m-t-20">
  <div class="resume-title">UX design projects</div>
  <hr/>
  <div class="work-experiences-section">
    <div class="work-position-section">
      <div class="position">
        <%=link_to project_path(@projects.offset(4).first.title) do%>
          LEGO Ecommerce (Website)
        <%end%>
      </div>
      <div class="work-dates">Mar. 2020</div>
    </div>
    <div class="work-duties-section">
      <ul>
        <li>Redesigned LEGO Ecommerce webiste to provide users a better experience in looking for LEGO products</li>
        <li>Performed UX aduit, user research, competitor analysis, information design and interface design</li>
      </ul>
    </div>
  </div>
  <div class="work-experiences-section">
    <div class="work-position-section">
      <div class="position">
        <%=link_to project_path(@projects.fourth.title) do%>
          Savr Mobile App (iOS)
        <%end%>
      </div>
      <div class="work-dates">Feb. 2020</div>
    </div>
    <div class="work-duties-section">
      <ul>
        <li>Designed an app to help people easily follow new recipes and cook great meals</li>
        <li>Completed a high-fidelity prototype and conducted the usability testing</li>
      </ul>
    </div>
  </div>
  <div class="work-experiences-section">
    <div class="work-position-section">
      <div class="position">
        <%=link_to project_path(@projects.third.title) do%>
          Project5 Music Platform (Website)
        <%end%>
      </div>
      <div class="work-dates">Dec. 2019</div>
    </div>
    <div class="work-duties-section">
      <ul>
        <li>Redesigned the website which helps music producers develop their music and be discovered</li>
        <li>Responsible for user research, wireframing, prototyping, and usability testing</li>
      </ul>
    </div>
  </div>
  <div class="work-experiences-section m-t-20">
    <div class="work-position-section">
      <div class="position">
        <%=link_to project_path(@projects.second.title) do%>PostUp Mobile App (iOS)<%end%>
      </div>
      <div class="work-dates">Nov. 2019</div>
    </div>
    <div class="work-duties-section">
      <ul>
        <li>Designed an app to help people easily find a public place to work</li>
        <li>Completed a high-fidelity prototype and conducted the usability testing</li>
      </ul>
    </div>
  </div>
  <div class="work-experiences-section m-t-20">
    <div class="work-position-section">
      <div class="position">
        <%=link_to project_path(@projects.first.title) do%>
          Tripik Mobile App (iOS)
        <%end%>
      </div>
      <div class="work-dates">Aug. 2019 - Nov. 2019</div>
    </div>
    <div class="work-duties-section">
      <ul>
        <li>Designed an app for people easily find ideal  travel destinations</li>
        <li>Responsible for user research, wireframing, visual design, prototyping, and usability testing</li>
      </ul>
    </div>
  </div>
</div>
<!-- Projects End -->
<!-- Volunteer Start -->
<div class="section resume-section">
  <div class="resume-title">Volunteer</div>
  <hr/>
  <div class="work-experiences-section m-t-20">
    <div class="work-position-section">
      <div class="position">Northwest Health Careers / UX Designer</div>
      <div class="work-dates">Mar. 2020 - Present Seattle,WA</div>
    </div>
    <div class="work-duties-section">
      <ul>
        <li>Work on Northwest Health Career Path (NHCP) project to make health career programs information available for the prospective students from the northewest region</li>
        <li>My role is to create wireframes, prototypes, and collect users' feedback by usability testing</li>
      </ul>
    </div>
  </div>
</div>
<!-- Volunteer End -->
<!-- Education Begin -->
<div class="section resume-section">
  <div class="resume-title">Education</div>
  <hr/>
  <div class="work-experiences-section">
    <div class="work-position-section">
      <div class="position">Springboard</div>
      <div class="position">UX Design Career Track Certification</div>
      <div class="work-dates">Aug. 2019 - Feb. 2020 / San Francisco, CA</div>
    </div>
    <div class="work-duties-section">
      <ul>
        <li>Learning the full process of UX design</li>
        <li>Deliver Tripik mobile app for capstone project</li>
        <li>Deliver PostUp mobile app for 5 days design sprint</li>
      </ul>
    </div>
  </div>
  <div class="work-experiences-section m-t-20">
    <div class="work-position-section">
      <div class="position">Ochanomizu University</div>
      <div class="position">MA, Applied Japanese Linguistics</div>
      <div class="work-dates">Apr. 2015 - Mar. 2017 / Tokyo, Japan</div>
    </div>
    <div class="work-duties-section">
      <ul>
        <li>Study with full scholarship approximate $45,000</li>
      </ul>
    </div>
  </div>
  <div class="work-experiences-section m-t-20">
    <div class="work-position-section">
      <div class="position">Soochow University</div>
      <div class="position">MA, Japanese Language and Literature</div>
      <div class="work-dates">Sep. 2011 - Dec. 2013 / Taipei, Taiwan</div>
    </div>
  </div>
  <div class="work-experiences-section m-t-20">
    <div class="work-position-section">
      <div class="position">Soochow University</div>
      <div class="position">BA, Japanese Language and Literature</div>
      <div class="work-dates">Sep. 2007 - Jun. 2011 / Taipei, Taiwan</div>
    </div>
  </div>
</div>
<!-- Education End -->
<!-- Design Skills begin -->
<div class="section resume-section">
  <div class="resume-title">Design skills</div>
  <hr/>
  <div class="work-experiences-section skills">
      <div class="skills-section">
        <ul>
          <li>User Experience Design</li>
          <li>User Interface Design</li>
        </ul>
      </div>
      <div class="skills-section">
        <ul>
          <li>User Research</li>
          <li>Usability Testing</li>
        </ul>
      </div>
      <div class="skills-section">
        <ul>
          <li>Wireframing</li>
          <li>Prototyping</li>
        </ul>
      </div>
      <div class="skills-section">
        <ul>
          <li>Visual Design</li>
          <li>Information Architecture</li>
        </ul>
      </div>
  </div>
</div>
<!-- Skills End -->
<!-- Tools Begin -->
<div class="section resume-section">
  <div class="resume-title">Design tools</div>
  <hr/>
  <div class="work-experiences-section skills">
      <div class="skills-section">
        <ul>
          <li>Sketch</li>
          <li>Figma</li>
        </ul>
      </div>
      <div class="skills-section">
        <ul>
          <li>Invision</li>
          <li>Adobe XD</li>
        </ul>
      </div>
      <div class="skills-section">
        <ul>
          <li>Adobe Illustrator</li>
          <li>Adobe Photoshop</li>
        </ul>
      </div>
      <div class="skills-section">
        <ul>
          <li>Zeplin</li>
          <li>Balsamiq</li>
        </ul>
      </div>
  </div>
</div>
<!-- Tools End -->
<!-- Development Skills begin -->
<div class="section resume-section">
  <div class="resume-title">Development skills</div>
  <hr/>
  <div class="work-experiences-section skills">
    <div class="skills-section">
      <ul>
        <li>Ruby on Rails</li>
        <li>HTML</li>
      </ul>
    </div>
    <div class="skills-section">
      <ul>
        <li>CSS</li>
        <li>Bootstrap</li>
      </ul>
    </div>
    <div class="skills-section">
      <ul>
        <li>Javascript</li>
        <li>JQuery</li>
      </ul>
    </div>
    <div class="skills-section">
      <ul>
        <li>React JS</li>
        <li>Git</li>
      </ul>
    </div>
  </div>
</div>
<!-- Development Skills end -->
<!-- Language Begin -->
<div class="section resume-section">
  <div class="resume-title">Languages</div>
  <hr/>
  <div class="work-experiences-section skills">
    <div class="skills-section">
      <ul>
        <li>Mandarin (Native)</li>
      </ul>
    </div>
    <div class="skills-section">
      <ul>
        <li>Japanese (Advanced)</li>
      </ul>
    </div>
    <div class="skills-section">
      <ul>
        <li>English (Advanced)</li>
      </ul>
    </div>
  </div>
</div>
<!-- Language End -->
<%= render 'home/back_home' %>
