<!DOCTYPE html>
<html>
  <head>
    <title>Hungyi's Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-156417612-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-156417612-1');
      </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <meta property="og:image" content="https://live.staticflickr.com/65535/49401770628_5a2352c3a7_b.jpg"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.png')%>
  </head>

  <body>
    <!-- top-nav -->
    <div class="header">
      <div class="header-content">
        <%= link_to root_path do %>
        <div id="logo">
          <img src="https://live.staticflickr.com/65535/49183986518_ced366bfef_w.jpg" width="50">
          <span class="logo">Hungyi Lee</span>
        </div>
        <% end %>
        <div id="navToggle">
          <div>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <nav>
          <ul class="nav-list">
            <% if current_page?(controller: 'home', action: 'index') || controller.controller_name == 'projects'%>
              <li class="active"><b></b><%= link_to root_path do %>PORTFOLIO<% end %></li>
            <% else %>
              <li class="nav-list-item"><%= link_to root_path do %>PORTFOLIO<% end %></li>
            <% end %>
            <%# if controller.controller_name == 'projects' %>
              <!-- <li class="active"><%#= link_to all_projects_path do %>PROJECTS<%# end %></li> -->
            <%# else %>
              <!-- <li class="nav-list-item"><%#= link_to all_projects_path do %>PROJECTS<%# end %></li> -->
            <%# end %>
            <% if current_page?(controller: 'resumes', action: 'index') %>
              <li class="active"><b></b><%= link_to resume_path do %>RESUME<% end %></li>
            <% else %>
              <li class="nav-list-item"><%= link_to resume_path do %>RESUME<% end %></li>
            <% end %>
            <% if current_page?(controller: 'works', action: 'index') %>
              <li class="active"><b></b><%= link_to about_path do %>ABOUT<% end %></li>
            <% else %>
              <li class="nav-list-item"><%= link_to about_path do %>ABOUT<% end %></li>
            <% end %>
            <% if current_page?(controller: 'sideprojects', action: 'index') || controller.controller_name == 'sideprojects' || controller.controller_name == 'books' || controller.controller_name == 'labs' || controller.controller_name == 'skillshares' || controller.controller_name == 'careers'%>
              <li class="active"><b></b><%= link_to sideprojects_path do %>BLOG<% end %></li>
            <% else %>
              <li class="nav-list-item"><%= link_to sideprojects_path do %>BLOG<% end %></li>
            <% end %>
            <!-- <li class="nav-list-item"><%#= mail_to "horngyi6527@gmail.com", body:"Hi Hungyi,", target: "_blank" do %>CONTACT<%# end %></li> -->
          </ul>
        </nav>
      </div>
    </div>
    <%= yield %>
    <!-- footer -->
    <footer>
        <p class="footer-left">Designed and developed by Hungyi Lee &copy; <%= Time.zone.now.year %></p>
        <p class="footer-right">
          <%= mail_to "contact@hungyilee.com", body:"Hi Hungyi,", target: "_blank" do %>
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="envelope" class="svg-inline--fa fa-envelope fa-w-16 footer-icon" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z"></path></svg>
          <% end %>
          <%= link_to "https://linkedin.com/in/hungyi-lee/", target: "_blank" do %>
              <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="linkedin-in" class="svg-inline--fa fa-linkedin-in fa-w-14 footer-icon" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"></path></svg>
          <% end %>
        </p>
    </footer>
    <!-- Go to top -->
    <div onclick="topFunction()" id="myBtn" class="bottom-menu pull-right">
      <span>&#8593;</span>
    </div>
  </body>
</html>


<script language="javascript" type="text/javascript">
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>
