<!DOCTYPE html>
<html>
  <head>
    <title>Hungyi's Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- top-nav -->
    <div class="header">
      <div class="header-content">
        <%= link_to root_path do %>
          <div id="logo">Hungyi Lee</div>
        <% end %>
        <div id="navToggle">
          <div>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <nav>
          <ul class="nav-list">
            <% if current_page?(controller: 'home', action: 'index') %>
              <li class="active"><%= link_to root_path do %>Home<% end %></li>
            <% else %>
              <li class="nav-list-item"><%= link_to root_path do %>Home<% end %></li>
            <% end %>
            <% if current_page?(controller: 'works', action: 'index') %>
              <li class="active"><%= link_to about_path do %>About<% end %></li>
            <% else %>
              <li class="nav-list-item"><%= link_to about_path do %>About<% end %></li>
            <% end %>
            <% if current_page?(controller: 'projects', action: 'index') %>
              <li class="active"><%= link_to all_projects_path do %>Projects<% end %></li>
            <% else %>
              <li class="nav-list-item"><%= link_to all_projects_path do %>Projects<% end %></li>
            <% end %>
            <li class="nav-list-item"><%= mail_to "horngyi6527@gmail.com" do %>Contact<% end %></li>
          </ul>
        </nav>
      </div>
    </div>
    <%= yield %>
    <!-- Go to top -->
    <div onclick="topFunction()" id="myBtn" class="bottom-menu pull-right">
      <i class="up-arrow"></i>
    </div>
    <!-- footer -->
    <div class="footer">
      <%= Time.current.year %> © Hungyi Lee
    </div>
  </body>
</html>
